extends userpage

block album
  .container.albumpage
    #albumLogo
    #title AlbumDrop
    .dude
    //- each album in albums
    //-   a(id=album._id href='/photos')= album.name
  block photopage
  
block scriptTwo
  script(src="/js/album.js")
  block scriptThree
