extends layout

block content
  .container.userPage
    h1 PhotoDrop
    form(action='/images', method='post', enctype='multipart/form-data')
      input(type='text', id='input')
      input(type='file', name='images', id='images', multiple=true)
      button Submit

block scripts
