extends layout

block content
  .container.index
    h1 PhotoDrop
    
    h2 FOR ANY FUNCTIONALITY GO TO: 
    a(href='https://hidden-bastion-52275.herokuapp.com/albums') https://hidden-bastion-52275.herokuapp.com/albums

  .splash
