extends albumpage

block photopage
  .photodrop
    h1 PhotoDrop
    form(action='/albums', method='post', enctype='multipart/form-data')
      input(type='text', id='input', name='photoName', placeholder='New Photo Name')
      input(type='file', name='images', id='images', multiple=false)
      button Submit

  .container.photoholder
