extends layout

block content
  .container.userPage
    #avatar
    #title YourDrop
    a(href='/albums') View Albums    
    a(href='/allalbums') View Public Albums
    a(href='/account') View Account
    form(action='/albums/newalbum', method='post', enctype='application/x-www-form-urlencoded', id="userform")
      input(type='text', id='inputer', name='albumName', placeholder='New Album Name', required)
      button Create Album
  block album
block scripts
  script(src="/js/user.js")
  block scriptTwo
