body {
  font-family: 'Raleway', sans-serif;
  padding-left: 15vw;
  display: flex;
  background-image: url('https://s3-us-west-1.amazonaws.com/ozanne-starter/e45ba520-cc41-11e5-ab82-69d6e6a52edb.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.userpage{

}
.index{

  padding-left: 2vw;
  font-size: 4vw;
  color: dodgerblue;
  position: absolute;
  width: 85vw;
  min-height: 100%;
  background-image: url('http://www.dropzone.com/images/articles/pov-review/vintage-skydiving-photography.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 15vw;
  top: 0;
  text-shadow:
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black,
  1px 1px 0 black;
}
a {
  width: 15vw;
  height: 3vw;
  font-size: 1.6vw;
  margin: .2vw;
  color: blue;
  text-decoration: none;
  background-color: tan;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
#left {

  width: 15vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: peru;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

li {

}

#logo{
  margin-top: 2vw;
  height: 10vw;
  width: 10vw;
  background-image: url('https://lh4.ggpht.com/FUWsXiCVl9xt1bxfdtZk7QgMQpbui_uxv7qONujjFMrf-B-aU0N4gPJ9qY5hoBsoTuo=w300');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}
